<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for Android 11+ -->
    <queries>
        <package android:name="com.google.android.apps.photosgo"/>
    </queries>

    <application
        android:label="Gallery"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:icon="@mipmap/gallery">
        
        <activity android:name=".MainActivity" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
